---
layout: page
title: Documents
image: /assets/img/no_image.jpg
description: Detailed behavior
---
<ul>
  {% for post in site.pages %}
  {%  if post.title and post.tags contains 'doc' %}
  <li><a href="{{post.url}}">{{post.title}}</a></li>
  {%  endif %}
  {% endfor %}
  {% assign posts = site.posts | sort: 'doc_index' %}
  {% for post in posts %}
  {%  if post.title and post.tags contains 'doc' %}
  <li><a href="{{post.url}}">{{post.title}}</a> ({{post.doc_index}})</li>
  {%  endif %}
  {% endfor %}
</ul>
