{%assign class="center"%}
{%assign class=include.class if include.class%}
{%if include.width%}
{%	assign fig_width=include.width%}
{%	assign img_width="100%"%}
{%else%}
{%	assign fig_width="fit-content"%}
{%	assign img_width="auto"%}
{%endif%}
{%if include.url=~ /^http/ %}
{%	assign src=include.url%}
{%else%}
{%	capture src%}{{include.url|relative_url}}{%endcapture%}
{%endif%}
<figure class="{{class}}" style="width:{{fig_width}};">
  <img style="width:{{img_width}};" src="{{src}}" alt="{{include.description}}">
  {%if include.description%}
  <figcaption>{{include.description}}</figcaption>
  {%endif%}
</figure>
