{% assign target_page = site.pages | where: "path", include.path | first %}  
{% unless target_page %}
{%  assign target_page = site.posts | where: "path", include.path | first %}
{% endunless %}
{% unless target_page %}
{%  capture post_path %}_posts/{{include.path}}{% endcapture %}
{%  assign target_page = site.posts | where: "path", post_path | first %}
{% endunless %}
{% if target_page and target_page.title %}
<div style="display:inline-block"><a href="{{target_page.url}}">{{target_page.title}}</a></div>
{% endif %}
