/**
 * Site header
 */

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
  @include relative-font-size(1.5);
  font-weight: 300;
  line-height: $title-line-height;
  letter-spacing: -1px;
  margin-top: $vspacing-unit;
  margin-bottom: $vspacing-unit;

  &, &:visited {
    color: $grey-color-dark;
  }
  @include media-query($on-palm) {
    padding-right: 36px;
  }
}

.site-nav {
  line-height: $title-line-height * $base-font-size * 1.5;
  margin-left: auto;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;
    // Gaps between nav items, but not on the last one
    margin-left: 10px;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 11px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $vspacing-unit 0;
  p, ul, h1, h2, h3 {
    margin-top: $vspacing-unit / 2;
    margin-bottom: $vspacing-unit / 2;
  }
}

.footer-heading {
  @include relative-font-size(1);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home content
 */

.home {
  max-width: 100%;
  display: grid;
  gap: $card-spacing;
  grid-template-columns: 2fr 1fr;
  @include media-query($on-2row) {
    grid-template-columns: 1fr;
  }
}

.home > * {
  justify-content: center;
}

.home-content {
  grid-column: 1/3;
}

.home-w-tweet {
  /* no special setting */
}

.tweet-block {
  /* no special setting */
  @include media-query($on-2row) {
    padding: 0 $spacing-unit;
  }
}

.post-list {
  /* no special setting */
}

.post-list-heading {
  @include relative-font-size(1.25);
}

.post-list-container, .post-sidebar-container {
  display: grid;
  grid-auto-rows: $card-unit-height;
  gap: $card-spacing;
  grid-template-columns: repeat(auto-fit, minmax($card-unit-width, 1fr));
}

.post-list-container {
  grid-template-columns: 1fr 1fr;
  @include media-query($on-1row) {
    grid-template-columns: 1fr;
  }
}

.post-list-item {
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid $grey-color-light 1px;
  border-radius: 10px;
}

.post-info {
  margin-top: 20px;
  background-color: rgba(255,255,255,0.9);
  padding: 10px;

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: 5px;
  }

  .post-link {
    display: block;
    @include relative-font-size(1.1);
    /* bottom: 0; margin-top: auto; *//* dose not work with grid layout */
  }
}

nav.pagination {
  clear: both;
  text-align: center;
  padding: $card-spacing;
}

img.top {
  width: 100%;
}

.page-content, .post-content {
  margin-bottom: $spacing-unit;
  h2 {
    @include relative-font-size(1.5);
  }
  h3 {
    @include relative-font-size(1.2);
  }
  h4 {
    @include relative-font-size(1.0);
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
  h2:nth-child(n+2) { margin-top: 40px; }
  h3:nth-child(n+2) { margin-top: 30px; }
  h4:nth-child(n+2) { margin-top: 20px; }
}

/**
 * Page content
 */
.page-content {
  padding: $vspacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.5);
}

p img, img[alt^="center"] {
  margin: $vspacing-unit auto;
}

img[alt^="right"] {
  margin: $vspacing-unit;
  float: right;
  @include media-query($on-palm) {
    margin: $vspacing-unit auto;
    float: none;
  }
}

img[alt^="left"] {
  margin: $vspacing-unit;
  clear: both;
  float: left;
  @include media-query($on-palm) {
    margin: $vspacing-unit auto;
    float: none;
  }
}

hr.clear {
  clear: both;
  border: none;
  margin: 0;
}

/**
 * Posts
 */
.post {
  max-width: $post-width;
  margin: 0 auto;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: $title-line-height;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);
  }

  h3 {
    @include relative-font-size(1.2);
  }

  h4 {
    @include relative-font-size(1.0);
  }

  iframe {
    display: block;
    margin: 0 auto;
  }
}

/**
 * Advertisement
 */
.advertise {
  text-align: center;
}

/**
 * YouTube
 */
.youtube {
  width: 560px;
  height: 315px;
  @include media-query(560px + $spacing-unit) {
    width: 80vw;
    height: 45vw;
  }
}

.icon-left { width: 32px; height: 32px; fill: $grey-color; }
.icon-home { width: 32px; height: 32px; fill: $grey-color; }
.back {
  margin: $spacing-unit auto;
  text-align: center;
  vertical-align: middle;
  .icon-left {
    display: inline-block;
    vertical-align: middle;
  }
}
.page-link .icon-home {
  display: inline-block;
  vertical-align: 0px;
  width: 18px; height: 18px;
  fill: $text-color;
}
/* vim:set sts=2 sw=2 expandtab: */
