---
layout: default
---

<div class="home">
  {% if site.embed_tweets %}
  {%  capture main_content %}
  <div class="home-w-sidebar">
    {{ content }}
  </div>
  <div class="tweet-container"><!-- sidebar for tweets -->
  {%  include tweet-block.html %}
  </div>
  {%  endcapture %}
  {% elsif site.home_link_list %}
  {%  capture main_content %}
  <div class="home-w-sidebar">
    {{ content }}
  </div>
  <div class="home-sidebar-container">
    {% for link in site.home_link_list %}
    {%  if link.image %}
    {%    capture background_image_style %}style="background-image: url({{ link.image | relative_url }});"{% endcapture %}
    {%  endif %}
    <div class="card" {{ background_image_style }}>
      <div class="post-info" style="text-align:center">
        <a href="{{ link.url | relative_url }}">{{ link.name }}</a>
        {% if link.description %}
        <p class="post-meta">{{ link.description }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {%  endcapture %}
  {% else %}
  {%  capture main_content %}
  <div class="home-content">
    HOGE
    {{ content }}
  </div>
  {%  endcapture %}
  {% endif %}

  {% if site.paginate %}
  {%  unless paginator.previous_page %}
  <!-- content is shown for first page only -->
  {{ main_content }}
  {% endunless %}
  {% else %}
  {{ main_content }}
  {% endif %}

  {% if site.paginate %}
  {%  assign posts = paginator.posts %}
  {% else %}
  {%  assign posts = site.posts %}
  {% endif %}

  {% if posts.size > 0 %} <!-- start: posts -->
  {%  assign date_format = site.minamino.date_format | default: "%F" %}
  <div class="post-list">
    {% if site.post_list_title %}
    <h2 class="card-list-title">{{ site.post_list_title }}</h2>
    {% endif %}
    <div class="card-container">
      {% for post in posts %}
      {%  if post.image %}
      {%    capture background_image_style %}style="background-image: url({{ post.image | relative_url }});"{% endcapture %}
      {%  else %}
      {%    capture background_image_style %}style="background-image: url({{ "/assets/img/no_image.jpg" | relative_url}});"{% endcapture %}
      {%  endif %}
      <div class="card" {{ background_image_style }}>
        <div class="post-info">
          <div class="post-meta">{{ post.date | date: date_format }}</div>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </div>
      </div>
      {% endfor %}<!-- end:for post in posts -->
    </div><!-- post-list-container -->
    {% include pagination.html %}
  </div><!-- post-list -->
  {% endif %} <!-- end posts -->

  {% if site.sidebar_list %}
  <div class="post-sidebar">
    {% if site.post_list_title %}
    <h2 class="card-list-title">
      &nbsp;<!-- place holder for layouting -->
    </h2>
    {% endif %}
    <div class="card-container">
      {%if site.sidebar_list%}
      {%  for sidebar in site.sidebar_list%}
      <div class="card">
        {%include {{sidebar}}%}
      </div>
      {%  endfor%}
      {%endif%}
    </div><!-- post-sidebar-container -->
  </div><!-- post-sidebar -->
  {% endif %}

</div><!-- home -->
<!-- vim: set sts=2 sw=2 expandtab: -->
